venv
.venv
__pycache__
.idea
README.md
chat-docs.md
*.env
Makefile
Dockerfile
.dockerignore
.gitignore
.git
docker-compose
build.sh
core/config/local_settings.py
core/media
core/staticfiles
celerybeat-schedule*
secrets
